<!doctype html>
<html>
<head>
  <%- include('partials/header', {'page': page}) %>
</head>
<body>
  <%- include('partials/navbar', {'config':config, 'user':user}) %>
  <div id="centerpage" class="container-fluid">
  	<div class="row">
	  <div id="leftcolumn" class="col-2">
        <%- include('partials/searchbox', {'config':config, 'page':page, 'search':search}) %>
      </div>
      <div id="main" class="col">
		<div id="alert"><%=errorMsg%></div>
		<div id="welcome">
		Welcome to node-mongo-gallery, whose name generally sums up precisely what it's about.
		You can begin searching the gallery contents using the search box in the left nav.
		</div>
	  </div>
	</div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
      