<!doctype html>
<html>
<head>
  <%- include('partials/header', {'page': page}) %>
</head>
<body>
  <%- include('partials/navbar', {'config':config, 'user':user}) %>
  <div id="centerpage" class="container-fluid">
  	<div class="row">
	  <div id="leftcolumn" class="col-2">
        <%- include('partials/searchbox', {'config':config, 'page':page, 'search':search}) %>
      </div>
      <div id="main" class="col">
		<h1>Login</h1>
		<div id="alert"><%=errorMsg%></div>
	<!-- LOGIN FORM -->
	<form name="login" action="/login" method="post">
		<div>
			<label>Email</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Password</label>
			<input type="password" name="password">
		</div>

		<button type="submit">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>
	  </div>
	</div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
      